# Exercices SQL

Lors de cet exercice sur les requêtes SQL, vous apprendrez à effectuer des requêtes SQL afin d'intérroger une base de données avec python. Pour ceci, la première étape est d'importer le module sqlite3.

Une fois cette étape effectuée, on se connecte à la base de données, puis nous pouvons créer le curseur.

In [1]:
import sqlite3

connexion = sqlite3.connect("Chinook_Sqlite.sqlite")
curseur = connexion.cursor()

Une fois le curseur, nous pouvons demander au curseur d'exécuter nos requêtes SQL à l'aide de la méthode execute()

In [ ]:
curseur.execute("SELECT * from Artist;")

Afin de parcourir les données reçues, nous pouvons utiliser 3 methodes :
- la méthode fetchall() qui renvoie une liste contenant chaque entrée dans un tuple
- la méthode fetchmany() qui prend un entier n en paramètre et renvoie une liste qui contient les n premières entrées (sous forme de tuple)
- la méthode fetchone() qui renvoie la première entrée sous forme de tuple

In [ ]:
curseur.execute("SELECT * from Artist;")
curseur.fetchone()

In [ ]:
curseur.execute("""SELECT Track.Name, Genre.Name from Track 
                JOIN Genre ON Genre.GenreId = Track.GenreId
                WHERE Milliseconds > 500000;
                """)
curseur.fetchall()

In [ ]:
curseur.execute("SELECT * from Artist;")
curseur.fetchmany(5)

1. **Selectionnez les clients (customer) qui ne viennent pas des USA. (On selectionnera uniquement les colonnes _CustomerId_, _FirstName_, _LastName_ et _Country_)**

In [3]:
curseur.execute("""
                SELECT CustomerId, FirstName, LastName, Country 
                FROM Customer
                WHERE Country != "USA"
""")

curseur.fetchall()

[(1, 'Luís', 'Gonçalves', 'Brazil'),
 (2, 'Leonie', 'Köhler', 'Germany'),
 (3, 'François', 'Tremblay', 'Canada'),
 (4, 'Bjørn', 'Hansen', 'Norway'),
 (5, 'František', 'Wichterlová', 'Czech Republic'),
 (6, 'Helena', 'Holý', 'Czech Republic'),
 (7, 'Astrid', 'Gruber', 'Austria'),
 (8, 'Daan', 'Peeters', 'Belgium'),
 (9, 'Kara', 'Nielsen', 'Denmark'),
 (10, 'Eduardo', 'Martins', 'Brazil'),
 (11, 'Alexandre', 'Rocha', 'Brazil'),
 (12, 'Roberto', 'Almeida', 'Brazil'),
 (13, 'Fernanda', 'Ramos', 'Brazil'),
 (14, 'Mark', 'Philips', 'Canada'),
 (15, 'Jennifer', 'Peterson', 'Canada'),
 (29, 'Robert', 'Brown', 'Canada'),
 (30, 'Edward', 'Francis', 'Canada'),
 (31, 'Martha', 'Silk', 'Canada'),
 (32, 'Aaron', 'Mitchell', 'Canada'),
 (33, 'Ellie', 'Sullivan', 'Canada'),
 (34, 'João', 'Fernandes', 'Portugal'),
 (35, 'Madalena', 'Sampaio', 'Portugal'),
 (36, 'Hannah', 'Schneider', 'Germany'),
 (37, 'Fynn', 'Zimmermann', 'Germany'),
 (38, 'Niklas', 'Schröder', 'Germany'),
 (39, 'Camille', 'Bernard', 'France'),
 (40, 'Dominique', 'Lefebvre', 'France'),
 (41, 'Marc', 'Dubois', 'France'),
 (42, 'Wyatt', 'Girard', 'France'),
 (43, 'Isabelle', 'Mercier', 'France'),
 (44, 'Terhi', 'Hämäläinen', 'Finland'),
 (45, 'Ladislav', 'Kovács', 'Hungary'),
 (46, 'Hugh', "O'Reilly", 'Ireland'),
 (47, 'Lucas', 'Mancini', 'Italy'),
 (48, 'Johannes', 'Van der Berg', 'Netherlands'),
 (49, 'Stanisław', 'Wójcik', 'Poland'),
 (50, 'Enrique', 'Muñoz', 'Spain'),
 (51, 'Joakim', 'Johansson', 'Sweden'),
 (52, 'Emma', 'Jones', 'United Kingdom'),
 (53, 'Phil', 'Hughes', 'United Kingdom'),
 (54, 'Steve', 'Murray', 'United Kingdom'),
 (55, 'Mark', 'Taylor', 'Australia'),
 (56, 'Diego', 'Gutiérrez', 'Argentina'),
 (57, 'Luis', 'Rojas', 'Chile'),
 (58, 'Manoj', 'Pareek', 'India'),
 (59, 'Puja', 'Srivastava', 'India')]

2. **Selectionnez uniquement les clients qui viennent du Brésil (On selectionnera uniquement les colonnes _CustomerId_, _FirstName_, _LastName_ et _Country_)**

In [6]:
curseur.execute("""
                SELECT CustomerId, FirstName, LastName, Country 
                FROM Customer
                WHERE Country = "Brazil"
""")

curseur.fetchall()

[(1, 'Luís', 'Gonçalves', 'Brazil'),
 (10, 'Eduardo', 'Martins', 'Brazil'),
 (11, 'Alexandre', 'Rocha', 'Brazil'),
 (12, 'Roberto', 'Almeida', 'Brazil'),
 (13, 'Fernanda', 'Ramos', 'Brazil')]

3. **Selectionnez les factures (Invoice) des clients brésiliens. Afficher le nom, le prénom, l'ID de la facture, la date et le pays de facturation**

In [12]:
curseur.execute("""
                    SELECT Customer.FirstName, Customer.LastName, InvoiceId, InvoiceDate, BillingCountry
                    FROM Invoice
                    JOIN Customer ON Customer.CustomerId = Invoice.CustomerId
                    WHERE BillingCountry = "Brazil"
""")
curseur.fetchall()

[('Eduardo', 'Martins', 25, '2009-04-09 00:00:00', 'Brazil'),
 ('Roberto', 'Almeida', 34, '2009-05-23 00:00:00', 'Brazil'),
 ('Fernanda', 'Ramos', 35, '2009-06-05 00:00:00', 'Brazil'),
 ('Alexandre', 'Rocha', 57, '2009-09-06 00:00:00', 'Brazil'),
 ('Fernanda', 'Ramos', 58, '2009-09-07 00:00:00', 'Brazil'),
 ('Alexandre', 'Rocha', 68, '2009-10-17 00:00:00', 'Brazil'),
 ('Fernanda', 'Ramos', 80, '2009-12-10 00:00:00', 'Brazil'),
 ('Luís', 'Gonçalves', 98, '2010-03-11 00:00:00', 'Brazil'),
 ('Luís', 'Gonçalves', 121, '2010-06-13 00:00:00', 'Brazil'),
 ('Alexandre', 'Rocha', 123, '2010-06-17 00:00:00', 'Brazil'),
 ('Fernanda', 'Ramos', 132, '2010-07-31 00:00:00', 'Brazil'),
 ('Luís', 'Gonçalves', 143, '2010-09-15 00:00:00', 'Brazil'),
 ('Eduardo', 'Martins', 154, '2010-11-14 00:00:00', 'Brazil'),
 ('Roberto', 'Almeida', 155, '2010-11-14 00:00:00', 'Brazil'),
 ('Roberto', 'Almeida', 166, '2010-12-25 00:00:00', 'Brazil'),
 ('Eduardo', 'Martins', 177, '2011-02-16 00:00:00', 'Brazil'),
 ('Luís', 'Gonçalves', 195, '2011-05-06 00:00:00', 'Brazil'),
 ('Eduardo', 'Martins', 199, '2011-05-21 00:00:00', 'Brazil'),
 ('Roberto', 'Almeida', 221, '2011-08-25 00:00:00', 'Brazil'),
 ('Eduardo', 'Martins', 251, '2012-01-09 00:00:00', 'Brazil'),
 ('Alexandre', 'Rocha', 252, '2012-01-22 00:00:00', 'Brazil'),
 ('Fernanda', 'Ramos', 253, '2012-01-22 00:00:00', 'Brazil'),
 ('Fernanda', 'Ramos', 264, '2012-03-03 00:00:00', 'Brazil'),
 ('Alexandre', 'Rocha', 275, '2012-04-25 00:00:00', 'Brazil'),
 ('Alexandre', 'Rocha', 297, '2012-07-28 00:00:00', 'Brazil'),
 ('Luís', 'Gonçalves', 316, '2012-10-27 00:00:00', 'Brazil'),
 ('Fernanda', 'Ramos', 319, '2012-11-01 00:00:00', 'Brazil'),
 ('Luís', 'Gonçalves', 327, '2012-12-07 00:00:00', 'Brazil'),
 ('Alexandre', 'Rocha', 349, '2013-03-18 00:00:00', 'Brazil'),
 ('Roberto', 'Almeida', 350, '2013-03-31 00:00:00', 'Brazil'),
 ('Eduardo', 'Martins', 372, '2013-07-02 00:00:00', 'Brazil'),
 ('Roberto', 'Almeida', 373, '2013-07-03 00:00:00', 'Brazil'),
 ('Luís', 'Gonçalves', 382, '2013-08-07 00:00:00', 'Brazil'),
 ('Eduardo', 'Martins', 383, '2013-08-12 00:00:00', 'Brazil'),
 ('Roberto', 'Almeida', 395, '2013-10-05 00:00:00', 'Brazil')]

4. **Affichez la liste des pays où au moins une facture a été enregistrée. (On n'affichera qu'une seule fois chaque pays)**

In [15]:
curseur.execute("""
                SELECT DISTINCT BillingCountry FROM Invoice
""")
curseur.fetchall()

[('Germany',),
 ('Norway',),
 ('Belgium',),
 ('Canada',),
 ('USA',),
 ('France',),
 ('Ireland',),
 ('United Kingdom',),
 ('Australia',),
 ('Chile',),
 ('India',),
 ('Brazil',),
 ('Portugal',),
 ('Netherlands',),
 ('Spain',),
 ('Sweden',),
 ('Czech Republic',),
 ('Finland',),
 ('Denmark',),
 ('Italy',),
 ('Poland',),
 ('Austria',),
 ('Hungary',),
 ('Argentina',)]

5. **Écrivez une requête SQL permettant d'afficher toutes les factures associées à leur vendeur (On affichera le prénom, le nom, l'ID de la facture, le total et le prix de la facture)**

In [16]:
curseur.execute("""
                SELECT Employee.LastName, Employee.FirstName, Invoice.InvoiceId, Invoice.Total
                FROM Invoice
                JOIN Customer ON Customer.CustomerId = Invoice.CustomerId
                JOIN Employee ON Employee.EmployeeId = Customer.SupportRepId
""")
curseur.fetchall()

[('Johnson', 'Steve', 1, 1.98),
 ('Park', 'Margaret', 2, 3.96),
 ('Park', 'Margaret', 3, 5.94),
 ('Johnson', 'Steve', 4, 8.91),
 ('Park', 'Margaret', 5, 13.86),
 ('Peacock', 'Jane', 6, 0.99),
 ('Peacock', 'Jane', 7, 1.98),
 ('Park', 'Margaret', 8, 1.98),
 ('Peacock', 'Jane', 9, 3.96),
 ('Peacock', 'Jane', 10, 5.94),
 ('Peacock', 'Jane', 11, 8.91),
 ('Johnson', 'Steve', 12, 13.86),
 ('Park', 'Margaret', 13, 0.99),
 ('Johnson', 'Steve', 14, 1.98),
 ('Peacock', 'Jane', 15, 1.98),
 ('Johnson', 'Steve', 16, 3.96),
 ('Johnson', 'Steve', 17, 5.94),
 ('Johnson', 'Steve', 18, 8.91),
 ('Park', 'Margaret', 19, 13.86),
 ('Johnson', 'Steve', 20, 0.99),
 ('Park', 'Margaret', 21, 1.98),
 ('Johnson', 'Steve', 22, 1.98),
 ('Peacock', 'Jane', 23, 3.96),
 ('Park', 'Margaret', 24, 5.94),
 ('Park', 'Margaret', 25, 8.91),
 ('Peacock', 'Jane', 26, 13.86),
 ('Peacock', 'Jane', 27, 0.99),
 ('Park', 'Margaret', 28, 1.98),
 ('Johnson', 'Steve', 29, 1.98),
 ('Peacock', 'Jane', 30, 3.96),
 ('Peacock', 'Jane', 31, 5.94),
 ('Johnson', 'Steve', 32, 8.91),
 ('Johnson', 'Steve', 33, 13.86),
 ('Peacock', 'Jane', 34, 0.99),
 ('Park', 'Margaret', 35, 1.98),
 ('Peacock', 'Jane', 36, 1.98),
 ('Johnson', 'Steve', 37, 3.96),
 ('Johnson', 'Steve', 38, 5.94),
 ('Park', 'Margaret', 39, 8.91),
 ('Johnson', 'Steve', 40, 13.86),
 ('Johnson', 'Steve', 41, 0.99),
 ('Johnson', 'Steve', 42, 1.98),
 ('Peacock', 'Jane', 43, 1.98),
 ('Park', 'Margaret', 44, 3.96),
 ('Peacock', 'Jane', 45, 5.94),
 ('Johnson', 'Steve', 46, 8.91),
 ('Peacock', 'Jane', 47, 13.86),
 ('Peacock', 'Jane', 48, 0.99),
 ('Peacock', 'Jane', 49, 1.98),
 ('Park', 'Margaret', 50, 1.98),
 ('Park', 'Margaret', 51, 3.96),
 ('Peacock', 'Jane', 52, 5.94),
 ('Peacock', 'Jane', 53, 8.91),
 ('Peacock', 'Jane', 54, 13.86),
 ('Park', 'Margaret', 55, 0.99),
 ('Park', 'Margaret', 56, 1.98),
 ('Johnson', 'Steve', 57, 1.98),
 ('Park', 'Margaret', 58, 3.96),
 ('Johnson', 'Steve', 59, 5.94),
 ('Park', 'Margaret', 60, 8.91),
 ('Park', 'Margaret', 61, 13.86),
 ('Peacock', 'Jane', 62, 0.99),
 ('Johnson', 'Steve', 63, 1.98),
 ('Park', 'Margaret', 64, 1.98),
 ('Johnson', 'Steve', 65, 3.96),
 ('Park', 'Margaret', 66, 5.94),
 ('Johnson', 'Steve', 67, 8.91),
 ('Johnson', 'Steve', 68, 13.86),
 ('Johnson', 'Steve', 69, 0.99),
 ('Park', 'Margaret', 70, 1.98),
 ('Johnson', 'Steve', 71, 1.98),
 ('Peacock', 'Jane', 72, 3.96),
 ('Park', 'Margaret', 73, 5.94),
 ('Park', 'Margaret', 74, 8.91),
 ('Park', 'Margaret', 75, 13.86),
 ('Park', 'Margaret', 76, 0.99),
 ('Park', 'Margaret', 77, 1.98),
 ('Johnson', 'Steve', 78, 1.98),
 ('Park', 'Margaret', 79, 3.96),
 ('Park', 'Margaret', 80, 5.94),
 ('Peacock', 'Jane', 81, 8.91),
 ('Johnson', 'Steve', 82, 13.86),
 ('Peacock', 'Jane', 83, 0.99),
 ('Peacock', 'Jane', 84, 1.98),
 ('Peacock', 'Jane', 85, 1.98),
 ('Johnson', 'Steve', 86, 3.96),
 ('Johnson', 'Steve', 87, 6.94),
 ('Johnson', 'Steve', 88, 17.91),
 ('Johnson', 'Steve', 89, 18.86),
 ('Johnson', 'Steve', 90, 0.99),
 ('Park', 'Margaret', 91, 1.98),
 ('Peacock', 'Jane', 92, 1.98),
 ('Park', 'Margaret', 93, 3.96),
 ('Peacock', 'Jane', 94, 5.94),
 ('Johnson', 'Steve', 95, 8.91),
 ('Peacock', 'Jane', 96, 21.86),
 ('Peacock', 'Jane', 97, 1.99),
 ('Peacock', 'Jane', 98, 3.98),
 ('Peacock', 'Jane', 99, 3.98),
 ('Park', 'Margaret', 100, 3.96),
 ('Park', 'Margaret', 101, 5.94),
 ('Peacock', 'Jane', 102, 9.91),
 ('Peacock', 'Jane', 103, 15.86),
 ('Peacock', 'Jane', 104, 0.99),
 ('Park', 'Margaret', 105, 1.98),
 ('Johnson', 'Steve', 106, 1.98),
 ('Peacock', 'Jane', 107, 3.96),
 ('Johnson', 'Steve', 108, 5.94),
 ('Peacock', 'Jane', 109, 8.91),
 ('Peacock', 'Jane', 110, 13.86),
 ('Johnson', 'Steve', 111, 0.99),
 ('Peacock', 'Jane', 112, 1.98),
 ('Park', 'Margaret', 113, 1.98),
 ('Park', 'Margaret', 114, 3.96),
 ('Park', 'Margaret', 115, 5.94),
 ('Park', 'Margaret', 116, 8.91),
 ('Johnson', 'Steve', 117, 13.86),
 ('Park', 'Margaret', 118, 0.99),
 ('Park', 'Margaret', 119, 1.98),
 ('Peacock', 'Jane', 120, 1.98),
 ('Peacock', 'Jane', 121, 3.96),
 ('Park', 'Margaret', 122, 5.94),
 ('Johnson', 'Steve', 123, 8.91),
 ('Park', 'Margaret', 124, 13.86),
 ('Park', 'Margaret', 125, 0.99),
 ('Park', 'Margaret', 126, 1.98),
 ('Peacock', 'Jane', 127, 1.98),
 ('Park', 'Margaret', 128, 3.96),
 ('Peacock', 'Jane', 129, 5.94),
 ('Park', 'Margaret', 130, 8.91),
 ('Peacock', 'Jane', 131, 13.86),
 ('Park', 'Margaret', 132, 0.99),
 ('Johnson', 'Steve', 133, 1.98),
 ('Park', 'Margaret', 134, 1.98),
 ('Peacock', 'Jane', 135, 3.96),
 ('Park', 'Margaret', 136, 5.94),
 ('Johnson', 'Steve', 137, 8.91),
 ('Peacock', 'Jane', 138, 13.86),
 ('Johnson', 'Steve', 139, 0.99),
 ('Peacock', 'Jane', 140, 1.98),
 ('Johnson', 'Steve', 141, 1.98),
 ('Park', 'Margaret', 142, 3.96),
 ('Peacock', 'Jane', 143, 5.94),
 ('Johnson', 'Steve', 144, 8.91),
 ('Park', 'Margaret', 145, 13.86),
 ('Peacock', 'Jane', 146, 0.99),
 ('Johnson', 'Steve', 147, 1.98),
 ('Peacock', 'Jane', 148, 1.98),
 ('Park', 'Margaret', 149, 3.96),
 ('Park', 'Margaret', 150, 5.94),
 ('Peacock', 'Jane', 151, 8.91),
 ('Johnson', 'Steve', 152, 13.86),
 ('Park', 'Margaret', 153, 0.99),
 ('Park', 'Margaret', 154, 1.98),
 ('Peacock', 'Jane', 155, 1.98),
 ('Johnson', 'Steve', 156, 3.96),
 ('Peacock', 'Jane', 157, 5.94),
 ('Peacock', 'Jane', 158, 8.91),
 ('Peacock', 'Jane', 159, 13.86),
 ('Johnson', 'Steve', 160, 0.99),
 ('Johnson', 'Steve', 161, 1.98),
 ('Johnson', 'Steve', 162, 1.98),
 ('Peacock', 'Jane', 163, 3.96),
 ('Park', 'Margaret', 164, 5.94),
 ('Peacock', 'Jane', 165, 8.91),
 ('Peacock', 'Jane', 166, 13.86),
 ('Park', 'Margaret', 167, 0.99),
 ('Park', 'Margaret', 168, 1.98),
 ('Peacock', 'Jane', 169, 1.98),
 ('Johnson', 'Steve', 170, 3.96),
 ('Park', 'Margaret', 171, 5.94),
 ('Johnson', 'Steve', 172, 8.91),
 ('Johnson', 'Steve', 173, 13.86),
 ('Park', 'Margaret', 174, 0.99),
 ('Johnson', 'Steve', 175, 1.98),
 ('Park', 'Margaret', 176, 1.98),
 ('Park', 'Margaret', 177, 3.96),
 ('Johnson', 'Steve', 178, 5.94),
 ('Park', 'Margaret', 179, 8.91),
 ('Peacock', 'Jane', 180, 13.86),
 ('Peacock', 'Jane', 181, 0.99),
 ('Peacock', 'Jane', 182, 1.98),
 ('Peacock', 'Jane', 183, 1.98),
 ('Johnson', 'Steve', 184, 3.96),
 ('Peacock', 'Jane', 185, 5.94),
 ('Peacock', 'Jane', 186, 8.91),
 ('Park', 'Margaret', 187, 13.86),
 ('Park', 'Margaret', 188, 0.99),
 ('Park', 'Margaret', 189, 1.98),
 ('Johnson', 'Steve', 190, 1.98),
 ('Park', 'Margaret', 191, 3.96),
 ('Johnson', 'Steve', 192, 5.94),
 ('Peacock', 'Jane', 193, 14.91),
 ('Peacock', 'Jane', 194, 21.86),
 ('Peacock', 'Jane', 195, 0.99),
 ('Johnson', 'Steve', 196, 1.98),
 ('Park', 'Margaret', 197, 1.98),
 ('Johnson', 'Steve', 198, 3.96),
 ('Park', 'Margaret', 199, 5.94),
 ('Park', 'Margaret', 200, 8.91),
 ('Johnson', 'Steve', 201, 18.86),
 ('Park', 'Margaret', 202, 1.99),
 ('Park', 'Margaret', 203, 2.98),
 ('Peacock', 'Jane', 204, 3.98),
 ('Peacock', 'Jane', 205, 7.96),
 ('Johnson', 'Steve', 206, 8.94),
 ('Johnson', 'Steve', 207, 8.91),
 ('Park', 'Margaret', 208, 15.86),
 ('Peacock', 'Jane', 209, 0.99),
 ('Peacock', 'Jane', 210, 1.98),
 ('Johnson', 'Steve', 211, 1.98),
 ('Park', 'Margaret', 212, 3.96),
 ('Park', 'Margaret', 213, 5.94),
 ('Peacock', 'Jane', 214, 8.91),
 ('Peacock', 'Jane', 215, 13.86),
 ('Park', 'Margaret', 216, 0.99),
 ('Johnson', 'Steve', 217, 1.98),
 ('Peacock', 'Jane', 218, 1.98),
 ('Johnson', 'Steve', 219, 3.96),
 ('Johnson', 'Steve', 220, 5.94),
 ('Peacock', 'Jane', 221, 8.91),
 ('Johnson', 'Steve', 222, 13.86),
 ('Park', 'Margaret', 223, 0.99),
 ('Johnson', 'Steve', 224, 1.98),
 ('Peacock', 'Jane', 225, 1.98),
 ('Park', 'Margaret', 226, 3.96),
 ('Peacock', 'Jane', 227, 5.94),
 ('Johnson', 'Steve', 228, 8.91),
 ('Peacock', 'Jane', 229, 13.86),
 ('Johnson', 'Steve', 230, 0.99),
 ('Peacock', 'Jane', 231, 1.98),
 ('Johnson', 'Steve', 232, 1.98),
 ('Peacock', 'Jane', 233, 3.96),
 ('Park', 'Margaret', 234, 5.94),
 ('Peacock', 'Jane', 235, 8.91),
 ('Peacock', 'Jane', 236, 13.86),
 ('Peacock', 'Jane', 237, 0.99),
 ('Peacock', 'Jane', 238, 1.98),
 ('Park', 'Margaret', 239, 1.98),
 ('Johnson', 'Steve', 240, 3.96),
 ('Johnson', 'Steve', 241, 5.94),
 ('Park', 'Margaret', 242, 8.91),
 ('Johnson', 'Steve', 243, 13.86),
 ('Johnson', 'Steve', 244, 0.99),
 ('Park', 'Margaret', 245, 1.98),
 ('Park', 'Margaret', 246, 1.98),
 ('Johnson', 'Steve', 247, 3.96),
 ('Park', 'Margaret', 248, 5.94),
 ('Peacock', 'Jane', 249, 8.91),
 ('Park', 'Margaret', 250, 13.86),
 ('Park', 'Margaret', 251, 0.99),
 ('Johnson', 'Steve', 252, 1.98),
 ('Park', 'Margaret', 253, 1.98),
 ('Peacock', 'Jane', 254, 3.96),
 ('Peacock', 'Jane', 255, 5.94),
 ('Johnson', 'Steve', 256, 8.91),
 ('Park', 'Margaret', 257, 13.86),
 ('Johnson', 'Steve', 258, 0.99),
 ('Park', 'Margaret', 259, 1.98),
 ('Johnson', 'Steve', 260, 1.98),
 ('Peacock', 'Jane', 261, 3.96),
 ('Johnson', 'Steve', 262, 5.94),
 ('Park', 'Margaret', 263, 8.91),
 ('Park', 'Margaret', 264, 13.86),
 ('Park', 'Margaret', 265, 0.99),
 ('Johnson', 'Steve', 266, 1.98),
 ('Peacock', 'Jane', 267, 1.98),
 ('Park', 'Margaret', 268, 3.96),
 ('Johnson', 'Steve', 269, 5.94),
 ('Peacock', 'Jane', 270, 8.91),
 ('Johnson', 'Steve', 271, 13.86),
 ('Johnson', 'Steve', 272, 0.99),
 ('Johnson', 'Steve', 273, 1.98),
 ('Park', 'Margaret', 274, 1.98),
 ('Johnson', 'Steve', 275, 3.96),
 ('Peacock', 'Jane', 276, 5.94),
 ('Johnson', 'Steve', 277, 8.91),
 ('Peacock', 'Jane', 278, 13.86),
 ('Peacock', 'Jane', 279, 0.99),
 ('Peacock', 'Jane', 280, 1.98),
 ('Johnson', 'Steve', 281, 1.98),
 ('Park', 'Margaret', 282, 3.96),
 ('Peacock', 'Jane', 283, 5.94),
 ('Peacock', 'Jane', 284, 8.91),
 ('Park', 'Margaret', 285, 13.86),
 ('Park', 'Margaret', 286, 0.99),
 ('Peacock', 'Jane', 287, 1.98),
 ('Park', 'Margaret', 288, 1.98),
 ('Johnson', 'Steve', 289, 3.96),
 ('Park', 'Margaret', 290, 5.94),
 ('Peacock', 'Jane', 291, 8.91),
 ('Johnson', 'Steve', 292, 13.86),
 ('Johnson', 'Steve', 293, 0.99),
 ('Peacock', 'Jane', 294, 1.98),
 ('Park', 'Margaret', 295, 1.98),
 ('Johnson', 'Steve', 296, 3.96),
 ('Johnson', 'Steve', 297, 5.94),
 ('Johnson', 'Steve', 298, 10.91),
 ('Park', 'Margaret', 299, 23.86),
 ('Park', 'Margaret', 300, 0.99),
 ('Johnson', 'Steve', 301, 1.98),
 ('Peacock', 'Jane', 302, 1.98),
 ('Peacock', 'Jane', 303, 3.96),
 ('Park', 'Margaret', 304, 5.94),
 ('Park', 'Margaret', 305, 8.91),
 ('Park', 'Margaret', 306, 16.86),
 ('Peacock', 'Jane', 307, 1.99),
 ('Park', 'Margaret', 308, 3.98),
 ('Park', 'Margaret', 309, 3.98),
 ('Peacock', 'Jane', 310, 7.96),
 ('Johnson', 'Steve', 311, 11.94),
 ('Park', 'Margaret', 312, 10.91),
 ('Peacock', 'Jane', 313, 16.86),
 ('Johnson', 'Steve', 314, 0.99),
 ('Peacock', 'Jane', 315, 1.98),
 ('Peacock', 'Jane', 316, 1.98),
 ('Peacock', 'Jane', 317, 3.96),
 ('Johnson', 'Steve', 318, 5.94),
 ('Park', 'Margaret', 319, 8.91),
 ('Park', 'Margaret', 320, 13.86),
 ('Johnson', 'Steve', 321, 0.99),
 ('Peacock', 'Jane', 322, 1.98),
 ('Park', 'Margaret', 323, 1.98),
 ('Johnson', 'Steve', 324, 3.96),
 ('Peacock', 'Jane', 325, 5.94),
 ('Johnson', 'Steve', 326, 8.91),
 ('Peacock', 'Jane', 327, 13.86),
 ('Peacock', 'Jane', 328, 0.99),
 ('Park', 'Margaret', 329, 1.98),
 ('Peacock', 'Jane', 330, 1.98),
 ('Park', 'Margaret', 331, 3.96),
 ('Peacock', 'Jane', 332, 5.94),
 ('Peacock', 'Jane', 333, 8.91),
 ('Park', 'Margaret', 334, 13.86),
 ('Peacock', 'Jane', 335, 0.99),
 ('Johnson', 'Steve', 336, 1.98),
 ('Park', 'Margaret', 337, 1.98),
 ('Peacock', 'Jane', 338, 3.96),
 ('Peacock', 'Jane', 339, 5.94),
 ('Park', 'Margaret', 340, 8.91),
 ('Peacock', 'Jane', 341, 13.86),
 ('Park', 'Margaret', 342, 0.99),
 ('Peacock', 'Jane', 343, 1.98),
 ('Park', 'Margaret', 344, 1.98),
 ('Peacock', 'Jane', 345, 3.96),
 ('Johnson', 'Steve', 346, 5.94),
 ('Johnson', 'Steve', 347, 8.91),
 ('Park', 'Margaret', 348, 13.86),
 ('Johnson', 'Steve', 349, 0.99),
 ('Peacock', 'Jane', 350, 1.98),
 ('Johnson', 'Steve', 351, 1.98),
 ('Park', 'Margaret', 352, 3.96),
 ('Park', 'Margaret', 353, 5.94),
 ('Park', 'Margaret', 354, 8.91),
 ('Park', 'Margaret', 355, 13.86),
 ('Park', 'Margaret', 356, 0.99),
 ('Johnson', 'Steve', 357, 1.98),
 ('Peacock', 'Jane', 358, 1.98),
 ('Johnson', 'Steve', 359, 3.96),
 ('Peacock', 'Jane', 360, 5.94),
 ('Park', 'Margaret', 361, 8.91),
 ('Johnson', 'Steve', 362, 13.86),
 ('Johnson', 'Steve', 363, 0.99),
 ('Peacock', 'Jane', 364, 1.98),
 ('Johnson', 'Steve', 365, 1.98),
 ('Peacock', 'Jane', 366, 3.96),
 ('Peacock', 'Jane', 367, 5.94),
 ('Peacock', 'Jane', 368, 8.91),
 ('Peacock', 'Jane', 369, 13.86),
 ('Johnson', 'Steve', 370, 0.99),
 ('Park', 'Margaret', 371, 1.98),
 ('Park', 'Margaret', 372, 1.98),
 ('Peacock', 'Jane', 373, 3.96),
 ('Park', 'Margaret', 374, 5.94),
 ('Park', 'Margaret', 375, 8.91),
 ('Johnson', 'Steve', 376, 13.86),
 ('Peacock', 'Jane', 377, 0.99),
 ('Peacock', 'Jane', 378, 1.98),
 ('Johnson', 'Steve', 379, 1.98),
 ('Johnson', 'Steve', 380, 3.96),
 ('Johnson', 'Steve', 381, 5.94),
 ('Peacock', 'Jane', 382, 8.91),
 ('Park', 'Margaret', 383, 13.86),
 ('Peacock', 'Jane', 384, 0.99),
 ('Johnson', 'Steve', 385, 1.98),
 ('Park', 'Margaret', 386, 1.98),
 ('Peacock', 'Jane', 387, 3.96),
 ('Peacock', 'Jane', 388, 5.94),
 ('Park', 'Margaret', 389, 8.91),
 ('Johnson', 'Steve', 390, 13.86),
 ('Peacock', 'Jane', 391, 0.99),
 ('Park', 'Margaret', 392, 1.98),
 ('Johnson', 'Steve', 393, 1.98),
 ('Park', 'Margaret', 394, 3.96),
 ('Peacock', 'Jane', 395, 5.94),
 ('Peacock', 'Jane', 396, 8.91),
 ('Park', 'Margaret', 397, 13.86),
 ('Johnson', 'Steve', 398, 0.99),
 ('Peacock', 'Jane', 399, 1.98),
 ('Peacock', 'Jane', 400, 1.98),
 ('Peacock', 'Jane', 401, 3.96),
 ('Johnson', 'Steve', 402, 5.94),
 ('Park', 'Margaret', 403, 8.91),
 ('Johnson', 'Steve', 404, 25.86),
 ('Park', 'Margaret', 405, 0.99),
 ('Johnson', 'Steve', 406, 1.98),
 ('Park', 'Margaret', 407, 1.98),
 ('Johnson', 'Steve', 408, 3.96),
 ('Peacock', 'Jane', 409, 5.94),
 ('Park', 'Margaret', 410, 8.91),
 ('Peacock', 'Jane', 411, 13.86),
 ('Peacock', 'Jane', 412, 1.99)]

6. **Écrivez une requête SQL permettant d'afficher la somme totale des ventes de chaque vendeur** (Indice : GROUP BY)

In [18]:
curseur.execute("""
                SELECT Employee.LastName, Employee.FirstName, SUM(Invoice.Total)
                FROM Invoice
                JOIN Customer ON Customer.CustomerId = Invoice.CustomerId
                JOIN Employee ON Employee.EmployeeId = Customer.SupportRepId
                GROUP BY Employee.EmployeeId
""")
curseur.fetchall()

[('Peacock', 'Jane', 833.0400000000016),
 ('Park', 'Margaret', 775.4000000000005),
 ('Johnson', 'Steve', 720.1600000000011)]

7. **Écrivez une requête SQL permettant d'afficher la somme totale des ventes de chaque vendeur en 2009** (Indice : GROUP BY)

In [22]:
curseur.execute("""
                SELECT Employee.LastName, Employee.FirstName, SUM(Invoice.Total)
                FROM Invoice
                JOIN Customer ON Customer.CustomerId = Invoice.CustomerId
                JOIN Employee ON Employee.EmployeeId = Customer.SupportRepId
                WHERE InvoiceDate LIKE "2009-%"
                GROUP BY Employee.EmployeeId
""")
curseur.fetchall()

[('Peacock', 'Jane', 123.74999999999997),
 ('Park', 'Margaret', 161.36999999999995),
 ('Johnson', 'Steve', 164.33999999999997)]

8. **Écrivez une requête SQL permettant d'afficher le total de chanson qui sont du Metal**

In [29]:
curseur.execute("""
                SELECT COUNT(Track.name) FROM Track
                JOIN Genre ON Track.GenreId = Genre.GenreId
                WHERE Genre.name = "Metal"
""")
curseur.fetchall()

[(374,)]

9. **Écrivez une requête SQL permettant de connaitre le nombre de chansons dans chaque playlist**

In [39]:
curseur.execute("""
                SELECT Playlist.Name, COUNT(PlaylistTrack.TrackId)
                FROM Playlist
                JOIN PlaylistTrack ON PlaylistTrack.PlaylistId = Playlist.PlaylistId
                GROUP BY PlaylistTrack.PlaylistId
                
""")
curseur.fetchall()

[('Music', 3290),
 ('TV Shows', 213),
 ('90’s Music', 1477),
 ('Music', 3290),
 ('Music Videos', 1),
 ('TV Shows', 213),
 ('Brazilian Music', 39),
 ('Classical', 75),
 ('Classical 101 - Deep Cuts', 25),
 ('Classical 101 - Next Steps', 25),
 ('Classical 101 - The Basics', 25),
 ('Grunge', 15),
 ('Heavy Metal Classic', 26),
 ('On-The-Go 1', 1)]

In [46]:
groupe_user = input("Entrez le nom de l'artiste")

curseur.execute("""SELECT * FROM Artist WHERE Name = ?""", (groupe_user,))
curseur.fetchall()

[(2, 'Accept')]

In [55]:
def ajout_artiste(Nom):
    connexion = sqlite3.connect("Chinook_Sqlite.sqlite")
    curseur = connexion.cursor()
    curseur.execute("INSERT INTO Artist VALUES (?, ?);", (None, Nom))
    connexion.commit()
    connexion.close()

ajout_artiste("test2")

In [54]:
def supprimer_artiste(id):
    connexion = sqlite3.connect("Chinook_Sqlite.sqlite")
    curseur = connexion.cursor()
    curseur.execute("DELETE FROM Artist WHERE ArtistId = ?;", (id,))
    connexion.commit()
    connexion.close()

supprimer_artiste(276)

In [56]:
def maj_nom_artiste(id, nom):
    connexion = sqlite3.connect("Chinook_Sqlite.sqlite")
    curseur = connexion.cursor()
    curseur.execute("UPDATE Artist SET Name = ? WHERE ArtistId = ?", (nom, id))
    connexion.commit()
    connexion.close()

maj_nom_artiste(278, "Rammstein")