# Exercices SQL

Lors de cet exercice sur les requêtes SQL, vous apprendrez à effectuer des requêtes SQL afin d'intérroger une base de données avec python. Pour ceci, la première étape est d'importer le module sqlite3.

Une fois cette étape effectuée, on se connecte à la base de données, puis nous pouvons créer le curseur.

In [ ]:
import sqlite3

connexion = sqlite3.connect("Chinook_Sqlite.sqlite")
curseur = connexion.cursor()

Une fois le curseur, nous pouvons demander au curseur d'exécuter nos requêtes SQL à l'aide de la méthode execute()

In [ ]:
curseur.execute("SELECT * from Artist;")

Afin de parcourir les données reçues, nous pouvons utiliser 3 methodes :
- la méthode fetchall() qui renvoie une liste contenant chaque entrée dans un tuple
- la méthode fetchmany() qui prend un entier n en paramètre et renvoie une liste qui contient les n premières entrées (sous forme de tuple)
- la méthode fetchone() qui renvoie la première entrée sous forme de tuple

In [ ]:
curseur.execute("SELECT * from Artist;")
curseur.fetchone()

In [ ]:
curseur.execute("SELECT * from Artist;")
curseur.fetchall()

In [ ]:
curseur.execute("SELECT * from Artist;")
curseur.fetchmany(5)

1. **Selectionnez les clients (customer) qui ne viennent pas des USA. (On selectionnera uniquement les colonnes _CustomerId_, _FirstName_, _LastName_ et _Country_)**

2. **Selectionnez uniquement les clients qui viennent du Brésil (On selectionnera uniquement les colonnes _CustomerId_, _FirstName_, _LastName_ et _Country_)**

3. **Selectionnez les factures (Invoice) des clients brésiliens. Afficher le nom, le prénom, l'ID de la facture, la date et le pays de facturation**

4. **Affichez la liste des pays où au moins une facture a été enregistrée. (On n'affichera qu'une seule fois chaque pays)**

5. **Écrivez une requête SQL permettant d'afficher toutes les factures associées à leur vendeur (On affichera le prénom, le nom, l'ID de la facture, le total et le prix de la facture)**

6. **Écrivez une requête SQL permettant d'afficher la somme totale des ventes de chaque vendeur** (Indice : GROUP BY)

7. **Écrivez une requête SQL permettant d'afficher la somme totale des ventes de chaque vendeur en 2009** (Indice : GROUP BY)

8. **Écrivez une requête SQL permettant d'afficher le total de chanson qui sont du Metal**

9. **Écrivez une requête SQL permettant de connaitre le nombre de chansons dans chaque playlist**