# Exercices SQL

Lors de cet exercice sur les requêtes SQL, vous apprendrez à effectuer des requêtes SQL afin d'intérroger une base de données avec python. Pour ceci, la première étape est d'importer le module sqlite3.

Une fois cette étape effectuée, on se connecte à la base de données, puis nous pouvons créer le curseur.

In [ ]:
import sqlite3

connexion = sqlite3.connect("Chinook_Sqlite.sqlite")
curseur = connexion.cursor()

Une fois le curseur, nous pouvons demander au curseur d'exécuter nos requêtes SQL à l'aide de la méthode execute()

In [ ]:
curseur.execute("SELECT * from Artist;")

Afin de parcourir les données reçues, nous pouvons utiliser 3 methodes :
- la méthode fetchall() qui renvoie une liste contenant chaque entrée dans un tuple
- la méthode fetchmany() qui prend un entier n en paramètre et renvoie une liste qui contient les n premières entrées (sous forme de tuple)
- la méthode fetchone() qui renvoie la première entrée sous forme de tuple

In [ ]:
curseur.execute("SELECT * from Artist;")
curseur.fetchone()

In [ ]:
curseur.execute("SELECT * from Artist;")
curseur.fetchall()

In [ ]:
curseur.execute("SELECT * from Artist;")
curseur.fetchmany(5)

1. **Selectionnez les clients (customer) qui ne viennent pas des USA. (On selectionnera uniquement les colonnes _CustomerId_, _FirstName_, _LastName_ et _Country_)**

In [ ]:
curseur.execute("""
                SELECT CustomerId,FirstName,LastName,Country
                from Customer
                WHERE Country != "USA"                 
""")
curseur.fetchmany(20)

2. **Selectionnez uniquement les clients qui viennent du Brésil (On selectionnera uniquement les colonnes _CustomerId_, _FirstName_, _LastName_ et _Country_)**

In [ ]:
curseur.execute("""
                SELECT CustomerId,FirstName,LastName,Country
                from Customer
                WHERE Country == "Brazil"                 
""")
curseur.fetchmany(20)

3. **Selectionnez les factures (Invoice) des clients brésiliens. Afficher le nom, le prénom, l'ID de la facture, la date et le pays de facturation**

In [ ]:
curseur.execute("""
                SELECT FirstName,LastName,Country,InvoiceId,InvoiceDate,BillingCountry
                from Customer
                JOIN Invoice ON Customer.CustomerId = Invoice.CustomerId
                WHERE Country == "Brazil"                 
""")
curseur.fetchmany(20)

4. **Affichez la liste des pays où au moins une facture a été enregistrée. (On n'affichera qu'une seule fois chaque pays)**

In [ ]:
curseur.execute("""
                SELECT BillingCountry
                from Invoice
                GROUP BY BillingCountry
                                
""")
curseur.fetchall()

5. **Écrivez une requête SQL permettant d'afficher toutes les factures associées à leur vendeur (On affichera le prénom, le nom, l'ID de la facture, le total et le prix de la facture)**

In [ ]:
curseur.execute("""
                SELECT Employee.FirstName,Employee.LastName,InvoiceId,InvoiceDate,Total
                from Customer
                JOIN Invoice ON Customer.CustomerId = Invoice.CustomerId
                JOIN Employee ON Customer.SupportRepId = Employee.EmployeeId
                                
""")
for ligne in  curseur.fetchall() :
    print(ligne,end="\n")

6. **Écrivez une requête SQL permettant d'afficher la somme totale des ventes de chaque vendeur** (Indice : GROUP BY)

In [ ]:
curseur.execute("""
                SELECT Employee.FirstName,Employee.LastName,SUM(Total)
                from Customer
                JOIN Invoice ON Customer.CustomerId = Invoice.CustomerId
                JOIN Employee ON Customer.SupportRepId = Employee.EmployeeId
                GROUP BY Employee.EmployeeId
""")
for ligne in  curseur.fetchall() :
    print(ligne,end="\n")

7. **Écrivez une requête SQL permettant d'afficher la somme totale des ventes de chaque vendeur en 2009** (Indice : GROUP BY)

In [ ]:
curseur.execute("""
                SELECT Employee.FirstName,Employee.LastName,SUM(Total)
                from Customer
                JOIN Invoice ON Customer.CustomerId = Invoice.CustomerId
                JOIN Employee ON Customer.SupportRepId = Employee.EmployeeId
                WHERE InvoiceDate BETWEEN "2009-01-01 00:00:00" AND "2009-12-31 23:59:59"
                GROUP BY Employee.EmployeeId
                
                               
""")
for ligne in  curseur.fetchall() :
    print(ligne,end="\n")

8. **Écrivez une requête SQL permettant d'afficher le total de chanson qui sont du Metal**

In [ ]:
curseur.execute("""
                SELECT Genre.Name,COUNT(Genre.Name) from Track 
                JOIN Genre ON Genre.GenreID = Track.GenreID
                WHERE Genre.Name= "Metal"
                GROUP BY Genre.Name
                
                ;
""" )
for ligne in  curseur.fetchall() :
    print(ligne,end="\n")

9. **Écrivez une requête SQL permettant de connaitre le nombre de chansons dans chaque playlist**

In [ ]:
curseur.execute("""
                SELECT Playlist.PlaylistId,Playlist.Name,COUNT(PlaylistTrack.TrackId) From Playlist
                JOIN PlaylistTrack ON PlaylistTrack.PlaylistId = Playlist.PlaylistId 
                GROUP BY Playlist.PlaylistId,Playlist.Name
                ;
""" )
for ligne in  curseur.fetchall() :
    print(ligne,end="\n")