# Exercices SQL

Lors de cet exercice sur les requêtes SQL, vous apprendrez à effectuer des requêtes SQL afin d'intérroger une base de données avec python. Pour ceci, la première étape est d'importer le module sqlite3.

Une fois cette étape effectuée, on se connecte à la base de données, puis nous pouvons créer le curseur.

In [1]:
import sqlite3

connexion = sqlite3.connect("Chinook_Sqlite.sqlite")
curseur = connexion.cursor()

Une fois le curseur, nous pouvons demander au curseur d'exécuter nos requêtes SQL à l'aide de la méthode execute()

In [2]:
curseur.execute("SELECT * from Artist;")

Afin de parcourir les données reçues, nous pouvons utiliser 3 methodes :
- la méthode fetchall() qui renvoie une liste contenant chaque entrée dans un tuple
- la méthode fetchmany() qui prend un entier n en paramètre et renvoie une liste qui contient les n premières entrées (sous forme de tuple)
- la méthode fetchone() qui renvoie la première entrée sous forme de tuple

In [10]:
curseur.execute("SELECT * from Artist;")
curseur.fetchone()

(1, 'AC/DC')

In [4]:
curseur.execute("SELECT * from Artist;")
curseur.fetchall()

[(1, 'AC/DC'),
 (2, 'Accept'),
 (3, 'Aerosmith'),
 (4, 'Alanis Morissette'),
 (5, 'Alice In Chains'),
 (6, 'Antônio Carlos Jobim'),
 (7, 'Apocalyptica'),
 (8, 'Audioslave'),
 (9, 'BackBeat'),
 (10, 'Billy Cobham'),
 (11, 'Black Label Society'),
 (12, 'Black Sabbath'),
 (13, 'Body Count'),
 (14, 'Bruce Dickinson'),
 (15, 'Buddy Guy'),
 (16, 'Caetano Veloso'),
 (17, 'Chico Buarque'),
 (18, 'Chico Science & Nação Zumbi'),
 (19, 'Cidade Negra'),
 (20, 'Cláudio Zoli'),
 (21, 'Various Artists'),
 (22, 'Led Zeppelin'),
 (23, 'Frank Zappa & Captain Beefheart'),
 (24, 'Marcos Valle'),
 (25, 'Milton Nascimento & Bebeto'),
 (26, 'Azymuth'),
 (27, 'Gilberto Gil'),
 (28, 'João Gilberto'),
 (29, 'Bebel Gilberto'),
 (30, 'Jorge Vercilo'),
 (31, 'Baby Consuelo'),
 (32, 'Ney Matogrosso'),
 (33, 'Luiz Melodia'),
 (34, 'Nando Reis'),
 (35, 'Pedro Luís & A Parede'),
 (36, 'O Rappa'),
 (37, 'Ed Motta'),
 (38, 'Banda Black Rio'),
 (39, 'Fernanda Porto'),
 (40, 'Os Cariocas'),
 (41, 'Elis Regina'),
 (42, 'Milton Nascimento'),
 (43, 'A Cor Do Som'),
 (44, 'Kid Abelha'),
 (45, 'Sandra De Sá'),
 (46, 'Jorge Ben'),
 (47, 'Hermeto Pascoal'),
 (48, 'Barão Vermelho'),
 (49, 'Edson, DJ Marky & DJ Patife Featuring Fernanda Porto'),
 (50, 'Metallica'),
 (51, 'Queen'),
 (52, 'Kiss'),
 (53, 'Spyro Gyra'),
 (54, 'Green Day'),
 (55, 'David Coverdale'),
 (56, 'Gonzaguinha'),
 (57, 'Os Mutantes'),
 (58, 'Deep Purple'),
 (59, 'Santana'),
 (60, 'Santana Feat. Dave Matthews'),
 (61, 'Santana Feat. Everlast'),
 (62, 'Santana Feat. Rob Thomas'),
 (63, 'Santana Feat. Lauryn Hill & Cee-Lo'),
 (64, 'Santana Feat. The Project G&B'),
 (65, 'Santana Feat. Maná'),
 (66, 'Santana Feat. Eagle-Eye Cherry'),
 (67, 'Santana Feat. Eric Clapton'),
 (68, 'Miles Davis'),
 (69, 'Gene Krupa'),
 (70, 'Toquinho & Vinícius'),
 (71, 'Vinícius De Moraes & Baden Powell'),
 (72, 'Vinícius De Moraes'),
 (73, 'Vinícius E Qurteto Em Cy'),
 (74, 'Vinícius E Odette Lara'),
 (75, 'Vinicius, Toquinho & Quarteto Em Cy'),
 (76, 'Creedence Clearwater Revival'),
 (77, 'Cássia Eller'),
 (78, 'Def Leppard'),
 (79, 'Dennis Chambers'),
 (80, 'Djavan'),
 (81, 'Eric Clapton'),
 (82, 'Faith No More'),
 (83, 'Falamansa'),
 (84, 'Foo Fighters'),
 (85, 'Frank Sinatra'),
 (86, 'Funk Como Le Gusta'),
 (87, 'Godsmack'),
 (88, "Guns N' Roses"),
 (89, 'Incognito'),
 (90, 'Iron Maiden'),
 (91, 'James Brown'),
 (92, 'Jamiroquai'),
 (93, 'JET'),
 (94, 'Jimi Hendrix'),
 (95, 'Joe Satriani'),
 (96, 'Jota Quest'),
 (97, 'João Suplicy'),
 (98, 'Judas Priest'),
 (99, 'Legião Urbana'),
 (100, 'Lenny Kravitz'),
 (101, 'Lulu Santos'),
 (102, 'Marillion'),
 (103, 'Marisa Monte'),
 (104, 'Marvin Gaye'),
 (105, 'Men At Work'),
 (106, 'Motörhead'),
 (107, 'Motörhead & Girlschool'),
 (108, 'Mônica Marianno'),
 (109, 'Mötley Crüe'),
 (110, 'Nirvana'),
 (111, 'O Terço'),
 (112, 'Olodum'),
 (113, 'Os Paralamas Do Sucesso'),
 (114, 'Ozzy Osbourne'),
 (115, 'Page & Plant'),
 (116, 'Passengers'),
 (117, "Paul D'Ianno"),
 (118, 'Pearl Jam'),
 (119, 'Peter Tosh'),
 (120, 'Pink Floyd'),
 (121, 'Planet Hemp'),
 (122, 'R.E.M. Feat. Kate Pearson'),
 (123, 'R.E.M. Feat. KRS-One'),
 (124, 'R.E.M.'),
 (125, 'Raimundos'),
 (126, 'Raul Seixas'),
 (127, 'Red Hot Chili Peppers'),
 (128, 'Rush'),
 (129, 'Simply Red'),
 (130, 'Skank'),
 (131, 'Smashing Pumpkins'),
 (132, 'Soundgarden'),
 (133, 'Stevie Ray Vaughan & Double Trouble'),
 (134, 'Stone Temple Pilots'),
 (135, 'System Of A Down'),
 (136, 'Terry Bozzio, Tony Levin & Steve Stevens'),
 (137, 'The Black Crowes'),
 (138, 'The Clash'),
 (139, 'The Cult'),
 (140, 'The Doors'),
 (141, 'The Police'),
 (142, 'The Rolling Stones'),
 (143, 'The Tea Party'),
 (144, 'The Who'),
 (145, 'Tim Maia'),
 (146, 'Titãs'),
 (147, 'Battlestar Galactica'),
 (148, 'Heroes'),
 (149, 'Lost'),
 (150, 'U2'),
 (151, 'UB40'),
 (152, 'Van Halen'),
 (153, 'Velvet Revolver'),
 (154, 'Whitesnake'),
 (155, 'Zeca Pagodinho'),
 (156, 'The Office'),
 (157, 'Dread Zeppelin'),
 (158, 'Battlestar Galactica (Classic)'),
 (159, 'Aquaman'),
 (160, 'Christina Aguilera featuring BigElf'),
 (161, "Aerosmith & Sierra Leone's Refugee Allstars"),
 (162, 'Los Lonely Boys'),
 (163, 'Corinne Bailey Rae'),
 (164, 'Dhani Harrison & Jakob Dylan'),
 (165, 'Jackson Browne'),
 (166, 'Avril Lavigne'),
 (167, 'Big & Rich'),
 (168, "Youssou N'Dour"),
 (169, 'Black Eyed Peas'),
 (170, 'Jack Johnson'),
 (171, 'Ben Harper'),
 (172, 'Snow Patrol'),
 (173, 'Matisyahu'),
 (174, 'The Postal Service'),
 (175, 'Jaguares'),
 (176, 'The Flaming Lips'),
 (177, "Jack's Mannequin & Mick Fleetwood"),
 (178, 'Regina Spektor'),
 (179, 'Scorpions'),
 (180, 'House Of Pain'),
 (181, 'Xis'),
 (182, 'Nega Gizza'),
 (183, 'Gustavo & Andres Veiga & Salazar'),
 (184, 'Rodox'),
 (185, 'Charlie Brown Jr.'),
 (186, 'Pedro Luís E A Parede'),
 (187, 'Los Hermanos'),
 (188, 'Mundo Livre S/A'),
 (189, 'Otto'),
 (190, 'Instituto'),
 (191, 'Nação Zumbi'),
 (192, 'DJ Dolores & Orchestra Santa Massa'),
 (193, 'Seu Jorge'),
 (194, 'Sabotage E Instituto'),
 (195, 'Stereo Maracana'),
 (196, 'Cake'),
 (197, 'Aisha Duo'),
 (198, 'Habib Koité and Bamada'),
 (199, 'Karsh Kale'),
 (200, 'The Posies'),
 (201, 'Luciana Souza/Romero Lubambo'),
 (202, 'Aaron Goldberg'),
 (203, 'Nicolaus Esterhazy Sinfonia'),
 (204, 'Temple of the Dog'),
 (205, 'Chris Cornell'),
 (206, 'Alberto Turco & Nova Schola Gregoriana'),
 (207, 'Richard Marlow & The Choir of Trinity College, Cambridge'),
 (208, 'English Concert & Trevor Pinnock'),
 (209, 'Anne-Sophie Mutter, Herbert Von Karajan & Wiener Philharmoniker'),
 (210,
  'Hilary Hahn, Jeffrey Kahane, Los Angeles Chamber Orchestra & Margaret Batjer'),
 (211, 'Wilhelm Kempff'),
 (212, 'Yo-Yo Ma'),
 (213, 'Scholars Baroque Ensemble'),
 (214, 'Academy of St. Martin in the Fields & Sir Neville Marriner'),
 (215,
  'Academy of St. Martin in the Fields Chamber Ensemble & Sir Neville Marriner'),
 (216, 'Berliner Philharmoniker, Claudio Abbado & Sabine Meyer'),
 (217, 'Royal Philharmonic Orchestra & Sir Thomas Beecham'),
 (218, 'Orchestre Révolutionnaire et Romantique & John Eliot Gardiner'),
 (219, 'Britten Sinfonia, Ivor Bolton & Lesley Garrett'),
 (220,
  'Chicago Symphony Chorus, Chicago Symphony Orchestra & Sir Georg Solti'),
 (221, 'Sir Georg Solti & Wiener Philharmoniker'),
 (222,
  'Academy of St. Martin in the Fields, John Birch, Sir Neville Marriner & Sylvia McNair'),
 (223, 'London Symphony Orchestra & Sir Charles Mackerras'),
 (224, 'Barry Wordsworth & BBC Concert Orchestra'),
 (225, 'Herbert Von Karajan, Mirella Freni & Wiener Philharmoniker'),
 (226, 'Eugene Ormandy'),
 (227, 'Luciano Pavarotti'),
 (228, 'Leonard Bernstein & New York Philharmonic'),
 (229, 'Boston Symphony Orchestra & Seiji Ozawa'),
 (230, 'Aaron Copland & London Symphony Orchestra'),
 (231, 'Ton Koopman'),
 (232, 'Sergei Prokofiev & Yuri Temirkanov'),
 (233, 'Chicago Symphony Orchestra & Fritz Reiner'),
 (234, 'Orchestra of The Age of Enlightenment'),
 (235, 'Emanuel Ax, Eugene Ormandy & Philadelphia Orchestra'),
 (236, 'James Levine'),
 (237, 'Berliner Philharmoniker & Hans Rosbaud'),
 (238, 'Maurizio Pollini'),
 (239,
  'Academy of St. Martin in the Fields, Sir Neville Marriner & William Bennett'),
 (240, 'Gustav Mahler'),
 (241, 'Felix Schmidt, London Symphony Orchestra & Rafael Frühbeck de Burgos'),
 (242, 'Edo de Waart & San Francisco Symphony'),
 (243, 'Antal Doráti & London Symphony Orchestra'),
 (244, 'Choir Of Westminster Abbey & Simon Preston'),
 (245, 'Michael Tilson Thomas & San Francisco Symphony'),
 (246,
  'Chor der Wiener Staatsoper, Herbert Von Karajan & Wiener Philharmoniker'),
 (247, "The King's Singers"),
 (248, 'Berliner Philharmoniker & Herbert Von Karajan'),
 (249, 'Sir Georg Solti, Sumi Jo & Wiener Philharmoniker'),
 (250, "Christopher O'Riley"),
 (251, 'Fretwork'),
 (252, 'Amy Winehouse'),
 (253, 'Calexico'),
 (254, 'Otto Klemperer & Philharmonia Orchestra'),
 (255, 'Yehudi Menuhin'),
 (256, 'Philharmonia Orchestra & Sir Neville Marriner'),
 (257,
  'Academy of St. Martin in the Fields, Sir Neville Marriner & Thurston Dart'),
 (258, 'Les Arts Florissants & William Christie'),
 (259, 'The 12 Cellists of The Berlin Philharmonic'),
 (260, 'Adrian Leaper & Doreen de Feis'),
 (261, 'Roger Norrington, London Classical Players'),
 (262, "Charles Dutoit & L'Orchestre Symphonique de Montréal"),
 (263,
  'Equale Brass Ensemble, John Eliot Gardiner & Munich Monteverdi Orchestra and Choir'),
 (264, "Kent Nagano and Orchestre de l'Opéra de Lyon"),
 (265, 'Julian Bream'),
 (266, 'Martin Roscoe'),
 (267, 'Göteborgs Symfoniker & Neeme Järvi'),
 (268, 'Itzhak Perlman'),
 (269, 'Michele Campanella'),
 (270, 'Gerald Moore'),
 (271, 'Mela Tenenbaum, Pro Musica Prague & Richard Kapp'),
 (272, 'Emerson String Quartet'),
 (273,
  'C. Monteverdi, Nigel Rogers - Chiaroscuro; London Baroque; London Cornett & Sackbu'),
 (274, 'Nash Ensemble'),
 (275, 'Philip Glass Ensemble')]

In [5]:
curseur.execute("SELECT * from Artist;")
curseur.fetchmany(5)

[(1, 'AC/DC'),
 (2, 'Accept'),
 (3, 'Aerosmith'),
 (4, 'Alanis Morissette'),
 (5, 'Alice In Chains')]

1. **Selectionnez les clients (customer) qui ne viennent pas des USA. (On selectionnera uniquement les colonnes _CustomerId_, _FirstName_, _LastName_ et _Country_)**

In [14]:
curseur.execute("""
                SELECT CustomerId,FirstName,LastName,Country
                from Customer
                WHERE Country != "USA"                 
""")
curseur.fetchmany(20)

[(1, 'Luís', 'Gonçalves', 'Brazil'),
 (2, 'Leonie', 'Köhler', 'Germany'),
 (3, 'François', 'Tremblay', 'Canada'),
 (4, 'Bjørn', 'Hansen', 'Norway'),
 (5, 'František', 'Wichterlová', 'Czech Republic'),
 (6, 'Helena', 'Holý', 'Czech Republic'),
 (7, 'Astrid', 'Gruber', 'Austria'),
 (8, 'Daan', 'Peeters', 'Belgium'),
 (9, 'Kara', 'Nielsen', 'Denmark'),
 (10, 'Eduardo', 'Martins', 'Brazil'),
 (11, 'Alexandre', 'Rocha', 'Brazil'),
 (12, 'Roberto', 'Almeida', 'Brazil'),
 (13, 'Fernanda', 'Ramos', 'Brazil'),
 (14, 'Mark', 'Philips', 'Canada'),
 (15, 'Jennifer', 'Peterson', 'Canada'),
 (29, 'Robert', 'Brown', 'Canada'),
 (30, 'Edward', 'Francis', 'Canada'),
 (31, 'Martha', 'Silk', 'Canada'),
 (32, 'Aaron', 'Mitchell', 'Canada'),
 (33, 'Ellie', 'Sullivan', 'Canada')]

2. **Selectionnez uniquement les clients qui viennent du Brésil (On selectionnera uniquement les colonnes _CustomerId_, _FirstName_, _LastName_ et _Country_)**

In [24]:
curseur.execute("""
                SELECT CustomerId,FirstName,LastName,Country
                from Customer
                WHERE Country == "Brazil"                 
""")

(1, 'Luís', 'Gonçalves', 'Brazil')
(10, 'Eduardo', 'Martins', 'Brazil')
(11, 'Alexandre', 'Rocha', 'Brazil')
(12, 'Roberto', 'Almeida', 'Brazil')
(13, 'Fernanda', 'Ramos', 'Brazil')

3. **Selectionnez les factures (Invoice) des clients brésiliens. Afficher le nom, le prénom, l'ID de la facture, la date et le pays de facturation**

In [17]:
curseur.execute("""
                SELECT FirstName,LastName,Country,InvoiceId,InvoiceDate,BillingCountry
                from Customer
                JOIN Invoice ON Customer.CustomerId = Invoice.CustomerId
                WHERE Country == "Brazil"                 
""")
curseur.fetchmany(5)

[('Luís', 'Gonçalves', 'Brazil', 98, '2010-03-11 00:00:00', 'Brazil'),
 ('Luís', 'Gonçalves', 'Brazil', 121, '2010-06-13 00:00:00', 'Brazil'),
 ('Luís', 'Gonçalves', 'Brazil', 143, '2010-09-15 00:00:00', 'Brazil'),
 ('Luís', 'Gonçalves', 'Brazil', 195, '2011-05-06 00:00:00', 'Brazil'),
 ('Luís', 'Gonçalves', 'Brazil', 316, '2012-10-27 00:00:00', 'Brazil')]

4. **Affichez la liste des pays où au moins une facture a été enregistrée. (On n'affichera qu'une seule fois chaque pays)**

In [21]:
curseur.execute("""
                SELECT BillingCountry
                from Invoice
                GROUP BY BillingCountry
                                
""")
curseur.fetchall()

[('Argentina',),
 ('Australia',),
 ('Austria',),
 ('Belgium',),
 ('Brazil',),
 ('Canada',),
 ('Chile',),
 ('Czech Republic',),
 ('Denmark',),
 ('Finland',),
 ('France',),
 ('Germany',),
 ('Hungary',),
 ('India',),
 ('Ireland',),
 ('Italy',),
 ('Netherlands',),
 ('Norway',),
 ('Poland',),
 ('Portugal',),
 ('Spain',),
 ('Sweden',),
 ('USA',),
 ('United Kingdom',)]

5. **Écrivez une requête SQL permettant d'afficher toutes les factures associées à leur vendeur (On affichera le prénom, le nom, l'ID de la facture, le total et le prix de la facture)**

In [29]:
curseur.execute("""
                SELECT Employee.FirstName,Employee.LastName,InvoiceId,InvoiceDate,Total
                from Customer
                JOIN Invoice ON Customer.CustomerId = Invoice.CustomerId
                JOIN Employee ON Customer.SupportRepId = Employee.EmployeeId
                                
""")
for ligne in  curseur.fetchall() :
    print(ligne,end="\n")

('Steve', 'Johnson', 1, '2009-01-01 00:00:00', 1.98)
('Margaret', 'Park', 2, '2009-01-02 00:00:00', 3.96)
('Margaret', 'Park', 3, '2009-01-03 00:00:00', 5.94)
('Steve', 'Johnson', 4, '2009-01-06 00:00:00', 8.91)
('Margaret', 'Park', 5, '2009-01-11 00:00:00', 13.86)
('Jane', 'Peacock', 6, '2009-01-19 00:00:00', 0.99)
('Jane', 'Peacock', 7, '2009-02-01 00:00:00', 1.98)
('Margaret', 'Park', 8, '2009-02-01 00:00:00', 1.98)
('Jane', 'Peacock', 9, '2009-02-02 00:00:00', 3.96)
('Jane', 'Peacock', 10, '2009-02-03 00:00:00', 5.94)
('Jane', 'Peacock', 11, '2009-02-06 00:00:00', 8.91)
('Steve', 'Johnson', 12, '2009-02-11 00:00:00', 13.86)
('Margaret', 'Park', 13, '2009-02-19 00:00:00', 0.99)
('Steve', 'Johnson', 14, '2009-03-04 00:00:00', 1.98)
('Jane', 'Peacock', 15, '2009-03-04 00:00:00', 1.98)
('Steve', 'Johnson', 16, '2009-03-05 00:00:00', 3.96)
('Steve', 'Johnson', 17, '2009-03-06 00:00:00', 5.94)
('Steve', 'Johnson', 18, '2009-03-09 00:00:00', 8.91)
('Margaret', 'Park', 19, '2009-03-14 00:00:00', 13.86)
('Steve', 'Johnson', 20, '2009-03-22 00:00:00', 0.99)
('Margaret', 'Park', 21, '2009-04-04 00:00:00', 1.98)
('Steve', 'Johnson', 22, '2009-04-04 00:00:00', 1.98)
('Jane', 'Peacock', 23, '2009-04-05 00:00:00', 3.96)
('Margaret', 'Park', 24, '2009-04-06 00:00:00', 5.94)
('Margaret', 'Park', 25, '2009-04-09 00:00:00', 8.91)
('Jane', 'Peacock', 26, '2009-04-14 00:00:00', 13.86)
('Jane', 'Peacock', 27, '2009-04-22 00:00:00', 0.99)
('Margaret', 'Park', 28, '2009-05-05 00:00:00', 1.98)
('Steve', 'Johnson', 29, '2009-05-05 00:00:00', 1.98)
('Jane', 'Peacock', 30, '2009-05-06 00:00:00', 3.96)
('Jane', 'Peacock', 31, '2009-05-07 00:00:00', 5.94)
('Steve', 'Johnson', 32, '2009-05-10 00:00:00', 8.91)
('Steve', 'Johnson', 33, '2009-05-15 00:00:00', 13.86)
('Jane', 'Peacock', 34, '2009-05-23 00:00:00', 0.99)
('Margaret', 'Park', 35, '2009-06-05 00:00:00', 1.98)
('Jane', 'Peacock', 36, '2009-06-05 00:00:00', 1.98)
('Steve', 'Johnson', 37, '2009-06-06 00:00:00', 3.96)
('Steve', 'Johnson', 38, '2009-06-07 00:00:00', 5.94)
('Margaret', 'Park', 39, '2009-06-10 00:00:00', 8.91)
('Steve', 'Johnson', 40, '2009-06-15 00:00:00', 13.86)
('Steve', 'Johnson', 41, '2009-06-23 00:00:00', 0.99)
('Steve', 'Johnson', 42, '2009-07-06 00:00:00', 1.98)
('Jane', 'Peacock', 43, '2009-07-06 00:00:00', 1.98)
('Margaret', 'Park', 44, '2009-07-07 00:00:00', 3.96)
('Jane', 'Peacock', 45, '2009-07-08 00:00:00', 5.94)
('Steve', 'Johnson', 46, '2009-07-11 00:00:00', 8.91)
('Jane', 'Peacock', 47, '2009-07-16 00:00:00', 13.86)
('Jane', 'Peacock', 48, '2009-07-24 00:00:00', 0.99)
('Jane', 'Peacock', 49, '2009-08-06 00:00:00', 1.98)
('Margaret', 'Park', 50, '2009-08-06 00:00:00', 1.98)
('Margaret', 'Park', 51, '2009-08-07 00:00:00', 3.96)
('Jane', 'Peacock', 52, '2009-08-08 00:00:00', 5.94)
('Jane', 'Peacock', 53, '2009-08-11 00:00:00', 8.91)
('Jane', 'Peacock', 54, '2009-08-16 00:00:00', 13.86)
('Margaret', 'Park', 55, '2009-08-24 00:00:00', 0.99)
('Margaret', 'Park', 56, '2009-09-06 00:00:00', 1.98)
('Steve', 'Johnson', 57, '2009-09-06 00:00:00', 1.98)
('Margaret', 'Park', 58, '2009-09-07 00:00:00', 3.96)
('Steve', 'Johnson', 59, '2009-09-08 00:00:00', 5.94)
('Margaret', 'Park', 60, '2009-09-11 00:00:00', 8.91)
('Margaret', 'Park', 61, '2009-09-16 00:00:00', 13.86)
('Jane', 'Peacock', 62, '2009-09-24 00:00:00', 0.99)
('Steve', 'Johnson', 63, '2009-10-07 00:00:00', 1.98)
('Margaret', 'Park', 64, '2009-10-07 00:00:00', 1.98)
('Steve', 'Johnson', 65, '2009-10-08 00:00:00', 3.96)
('Margaret', 'Park', 66, '2009-10-09 00:00:00', 5.94)
('Steve', 'Johnson', 67, '2009-10-12 00:00:00', 8.91)
('Steve', 'Johnson', 68, '2009-10-17 00:00:00', 13.86)
('Steve', 'Johnson', 69, '2009-10-25 00:00:00', 0.99)
('Margaret', 'Park', 70, '2009-11-07 00:00:00', 1.98)
('Steve', 'Johnson', 71, '2009-11-07 00:00:00', 1.98)
('Jane', 'Peacock', 72, '2009-11-08 00:00:00', 3.96)
('Margaret', 'Park', 73, '2009-11-09 00:00:00', 5.94)
('Margaret', 'Park', 74, '2009-11-12 00:00:00', 8.91)
('Margaret', 'Park', 75, '2009-11-17 00:00:00', 13.86)
('Margaret', 'Park', 76, '2009-11-25 00:00:00', 0.99)
('Margaret', 'Park', 77, '2009-12-08 00:00:00', 1.98)
('Steve', 'Johnson', 78, '2009-12-08 00:00:00', 1.98)
('Margaret', 'Park', 79, '2009-12-09 00:00:00', 3.96)
('Margaret', 'Park', 80, '2009-12-10 00:00:00', 5.94)
('Jane', 'Peacock', 81, '2009-12-13 00:00:00', 8.91)
('Steve', 'Johnson', 82, '2009-12-18 00:00:00', 13.86)
('Jane', 'Peacock', 83, '2009-12-26 00:00:00', 0.99)
('Jane', 'Peacock', 84, '2010-01-08 00:00:00', 1.98)
('Jane', 'Peacock', 85, '2010-01-08 00:00:00', 1.98)
('Steve', 'Johnson', 86, '2010-01-09 00:00:00', 3.96)
('Steve', 'Johnson', 87, '2010-01-10 00:00:00', 6.94)
('Steve', 'Johnson', 88, '2010-01-13 00:00:00', 17.91)
('Steve', 'Johnson', 89, '2010-01-18 00:00:00', 18.86)
('Steve', 'Johnson', 90, '2010-01-26 00:00:00', 0.99)
('Margaret', 'Park', 91, '2010-02-08 00:00:00', 1.98)
('Jane', 'Peacock', 92, '2010-02-08 00:00:00', 1.98)
('Margaret', 'Park', 93, '2010-02-09 00:00:00', 3.96)
('Jane', 'Peacock', 94, '2010-02-10 00:00:00', 5.94)
('Steve', 'Johnson', 95, '2010-02-13 00:00:00', 8.91)
('Jane', 'Peacock', 96, '2010-02-18 00:00:00', 21.86)
('Jane', 'Peacock', 97, '2010-02-26 00:00:00', 1.99)
('Jane', 'Peacock', 98, '2010-03-11 00:00:00', 3.98)
('Jane', 'Peacock', 99, '2010-03-11 00:00:00', 3.98)
('Margaret', 'Park', 100, '2010-03-12 00:00:00', 3.96)
('Margaret', 'Park', 101, '2010-03-13 00:00:00', 5.94)
('Jane', 'Peacock', 102, '2010-03-16 00:00:00', 9.91)
('Jane', 'Peacock', 103, '2010-03-21 00:00:00', 15.86)
('Jane', 'Peacock', 104, '2010-03-29 00:00:00', 0.99)
('Margaret', 'Park', 105, '2010-04-11 00:00:00', 1.98)
('Steve', 'Johnson', 106, '2010-04-11 00:00:00', 1.98)
('Jane', 'Peacock', 107, '2010-04-12 00:00:00', 3.96)
('Steve', 'Johnson', 108, '2010-04-13 00:00:00', 5.94)
('Jane', 'Peacock', 109, '2010-04-16 00:00:00', 8.91)
('Jane', 'Peacock', 110, '2010-04-21 00:00:00', 13.86)
('Steve', 'Johnson', 111, '2010-04-29 00:00:00', 0.99)
('Jane', 'Peacock', 112, '2010-05-12 00:00:00', 1.98)
('Margaret', 'Park', 113, '2010-05-12 00:00:00', 1.98)
('Margaret', 'Park', 114, '2010-05-13 00:00:00', 3.96)
('Margaret', 'Park', 115, '2010-05-14 00:00:00', 5.94)
('Margaret', 'Park', 116, '2010-05-17 00:00:00', 8.91)
('Steve', 'Johnson', 117, '2010-05-22 00:00:00', 13.86)
('Margaret', 'Park', 118, '2010-05-30 00:00:00', 0.99)
('Margaret', 'Park', 119, '2010-06-12 00:00:00', 1.98)
('Jane', 'Peacock', 120, '2010-06-12 00:00:00', 1.98)
('Jane', 'Peacock', 121, '2010-06-13 00:00:00', 3.96)
('Margaret', 'Park', 122, '2010-06-14 00:00:00', 5.94)
('Steve', 'Johnson', 123, '2010-06-17 00:00:00', 8.91)
('Margaret', 'Park', 124, '2010-06-22 00:00:00', 13.86)
('Margaret', 'Park', 125, '2010-06-30 00:00:00', 0.99)
('Margaret', 'Park', 126, '2010-07-13 00:00:00', 1.98)
('Jane', 'Peacock', 127, '2010-07-13 00:00:00', 1.98)
('Margaret', 'Park', 128, '2010-07-14 00:00:00', 3.96)
('Jane', 'Peacock', 129, '2010-07-15 00:00:00', 5.94)
('Margaret', 'Park', 130, '2010-07-18 00:00:00', 8.91)
('Jane', 'Peacock', 131, '2010-07-23 00:00:00', 13.86)
('Margaret', 'Park', 132, '2010-07-31 00:00:00', 0.99)
('Steve', 'Johnson', 133, '2010-08-13 00:00:00', 1.98)
('Margaret', 'Park', 134, '2010-08-13 00:00:00', 1.98)
('Jane', 'Peacock', 135, '2010-08-14 00:00:00', 3.96)
('Margaret', 'Park', 136, '2010-08-15 00:00:00', 5.94)
('Steve', 'Johnson', 137, '2010-08-18 00:00:00', 8.91)
('Jane', 'Peacock', 138, '2010-08-23 00:00:00', 13.86)
('Steve', 'Johnson', 139, '2010-08-31 00:00:00', 0.99)
('Jane', 'Peacock', 140, '2010-09-13 00:00:00', 1.98)
('Steve', 'Johnson', 141, '2010-09-13 00:00:00', 1.98)
('Margaret', 'Park', 142, '2010-09-14 00:00:00', 3.96)
('Jane', 'Peacock', 143, '2010-09-15 00:00:00', 5.94)
('Steve', 'Johnson', 144, '2010-09-18 00:00:00', 8.91)
('Margaret', 'Park', 145, '2010-09-23 00:00:00', 13.86)
('Jane', 'Peacock', 146, '2010-10-01 00:00:00', 0.99)
('Steve', 'Johnson', 147, '2010-10-14 00:00:00', 1.98)
('Jane', 'Peacock', 148, '2010-10-14 00:00:00', 1.98)
('Margaret', 'Park', 149, '2010-10-15 00:00:00', 3.96)
('Margaret', 'Park', 150, '2010-10-16 00:00:00', 5.94)
('Jane', 'Peacock', 151, '2010-10-19 00:00:00', 8.91)
('Steve', 'Johnson', 152, '2010-10-24 00:00:00', 13.86)
('Margaret', 'Park', 153, '2010-11-01 00:00:00', 0.99)
('Margaret', 'Park', 154, '2010-11-14 00:00:00', 1.98)
('Jane', 'Peacock', 155, '2010-11-14 00:00:00', 1.98)
('Steve', 'Johnson', 156, '2010-11-15 00:00:00', 3.96)
('Jane', 'Peacock', 157, '2010-11-16 00:00:00', 5.94)
('Jane', 'Peacock', 158, '2010-11-19 00:00:00', 8.91)
('Jane', 'Peacock', 159, '2010-11-24 00:00:00', 13.86)
('Steve', 'Johnson', 160, '2010-12-02 00:00:00', 0.99)
('Steve', 'Johnson', 161, '2010-12-15 00:00:00', 1.98)
('Steve', 'Johnson', 162, '2010-12-15 00:00:00', 1.98)
('Jane', 'Peacock', 163, '2010-12-16 00:00:00', 3.96)
('Margaret', 'Park', 164, '2010-12-17 00:00:00', 5.94)
('Jane', 'Peacock', 165, '2010-12-20 00:00:00', 8.91)
('Jane', 'Peacock', 166, '2010-12-25 00:00:00', 13.86)
('Margaret', 'Park', 167, '2011-01-02 00:00:00', 0.99)
('Margaret', 'Park', 168, '2011-01-15 00:00:00', 1.98)
('Jane', 'Peacock', 169, '2011-01-15 00:00:00', 1.98)
('Steve', 'Johnson', 170, '2011-01-16 00:00:00', 3.96)
('Margaret', 'Park', 171, '2011-01-17 00:00:00', 5.94)
('Steve', 'Johnson', 172, '2011-01-20 00:00:00', 8.91)
('Steve', 'Johnson', 173, '2011-01-25 00:00:00', 13.86)
('Margaret', 'Park', 174, '2011-02-02 00:00:00', 0.99)
('Steve', 'Johnson', 175, '2011-02-15 00:00:00', 1.98)
('Margaret', 'Park', 176, '2011-02-15 00:00:00', 1.98)
('Margaret', 'Park', 177, '2011-02-16 00:00:00', 3.96)
('Steve', 'Johnson', 178, '2011-02-17 00:00:00', 5.94)
('Margaret', 'Park', 179, '2011-02-20 00:00:00', 8.91)
('Jane', 'Peacock', 180, '2011-02-25 00:00:00', 13.86)
('Jane', 'Peacock', 181, '2011-03-05 00:00:00', 0.99)
('Jane', 'Peacock', 182, '2011-03-18 00:00:00', 1.98)
('Jane', 'Peacock', 183, '2011-03-18 00:00:00', 1.98)
('Steve', 'Johnson', 184, '2011-03-19 00:00:00', 3.96)
('Jane', 'Peacock', 185, '2011-03-20 00:00:00', 5.94)
('Jane', 'Peacock', 186, '2011-03-23 00:00:00', 8.91)
('Margaret', 'Park', 187, '2011-03-28 00:00:00', 13.86)
('Margaret', 'Park', 188, '2011-04-05 00:00:00', 0.99)
('Margaret', 'Park', 189, '2011-04-18 00:00:00', 1.98)
('Steve', 'Johnson', 190, '2011-04-18 00:00:00', 1.98)
('Margaret', 'Park', 191, '2011-04-19 00:00:00', 3.96)
('Steve', 'Johnson', 192, '2011-04-20 00:00:00', 5.94)
('Jane', 'Peacock', 193, '2011-04-23 00:00:00', 14.91)
('Jane', 'Peacock', 194, '2011-04-28 00:00:00', 21.86)
('Jane', 'Peacock', 195, '2011-05-06 00:00:00', 0.99)
('Steve', 'Johnson', 196, '2011-05-19 00:00:00', 1.98)
('Margaret', 'Park', 197, '2011-05-19 00:00:00', 1.98)
('Steve', 'Johnson', 198, '2011-05-20 00:00:00', 3.96)
('Margaret', 'Park', 199, '2011-05-21 00:00:00', 5.94)
('Margaret', 'Park', 200, '2011-05-24 00:00:00', 8.91)
('Steve', 'Johnson', 201, '2011-05-29 00:00:00', 18.86)
('Margaret', 'Park', 202, '2011-06-06 00:00:00', 1.99)
('Margaret', 'Park', 203, '2011-06-19 00:00:00', 2.98)
('Jane', 'Peacock', 204, '2011-06-19 00:00:00', 3.98)
('Jane', 'Peacock', 205, '2011-06-20 00:00:00', 7.96)
('Steve', 'Johnson', 206, '2011-06-21 00:00:00', 8.94)
('Steve', 'Johnson', 207, '2011-06-24 00:00:00', 8.91)
('Margaret', 'Park', 208, '2011-06-29 00:00:00', 15.86)
('Jane', 'Peacock', 209, '2011-07-07 00:00:00', 0.99)
('Jane', 'Peacock', 210, '2011-07-20 00:00:00', 1.98)
('Steve', 'Johnson', 211, '2011-07-20 00:00:00', 1.98)
('Margaret', 'Park', 212, '2011-07-21 00:00:00', 3.96)
('Margaret', 'Park', 213, '2011-07-22 00:00:00', 5.94)
('Jane', 'Peacock', 214, '2011-07-25 00:00:00', 8.91)
('Jane', 'Peacock', 215, '2011-07-30 00:00:00', 13.86)
('Margaret', 'Park', 216, '2011-08-07 00:00:00', 0.99)
('Steve', 'Johnson', 217, '2011-08-20 00:00:00', 1.98)
('Jane', 'Peacock', 218, '2011-08-20 00:00:00', 1.98)
('Steve', 'Johnson', 219, '2011-08-21 00:00:00', 3.96)
('Steve', 'Johnson', 220, '2011-08-22 00:00:00', 5.94)
('Jane', 'Peacock', 221, '2011-08-25 00:00:00', 8.91)
('Steve', 'Johnson', 222, '2011-08-30 00:00:00', 13.86)
('Margaret', 'Park', 223, '2011-09-07 00:00:00', 0.99)
('Steve', 'Johnson', 224, '2011-09-20 00:00:00', 1.98)
('Jane', 'Peacock', 225, '2011-09-20 00:00:00', 1.98)
('Margaret', 'Park', 226, '2011-09-21 00:00:00', 3.96)
('Jane', 'Peacock', 227, '2011-09-22 00:00:00', 5.94)
('Steve', 'Johnson', 228, '2011-09-25 00:00:00', 8.91)
('Jane', 'Peacock', 229, '2011-09-30 00:00:00', 13.86)
('Steve', 'Johnson', 230, '2011-10-08 00:00:00', 0.99)
('Jane', 'Peacock', 231, '2011-10-21 00:00:00', 1.98)
('Steve', 'Johnson', 232, '2011-10-21 00:00:00', 1.98)
('Jane', 'Peacock', 233, '2011-10-22 00:00:00', 3.96)
('Margaret', 'Park', 234, '2011-10-23 00:00:00', 5.94)
('Jane', 'Peacock', 235, '2011-10-26 00:00:00', 8.91)
('Jane', 'Peacock', 236, '2011-10-31 00:00:00', 13.86)
('Jane', 'Peacock', 237, '2011-11-08 00:00:00', 0.99)
('Jane', 'Peacock', 238, '2011-11-21 00:00:00', 1.98)
('Margaret', 'Park', 239, '2011-11-21 00:00:00', 1.98)
('Steve', 'Johnson', 240, '2011-11-22 00:00:00', 3.96)
('Steve', 'Johnson', 241, '2011-11-23 00:00:00', 5.94)
('Margaret', 'Park', 242, '2011-11-26 00:00:00', 8.91)
('Steve', 'Johnson', 243, '2011-12-01 00:00:00', 13.86)
('Steve', 'Johnson', 244, '2011-12-09 00:00:00', 0.99)
('Margaret', 'Park', 245, '2011-12-22 00:00:00', 1.98)
('Margaret', 'Park', 246, '2011-12-22 00:00:00', 1.98)
('Steve', 'Johnson', 247, '2011-12-23 00:00:00', 3.96)
('Margaret', 'Park', 248, '2011-12-24 00:00:00', 5.94)
('Jane', 'Peacock', 249, '2011-12-27 00:00:00', 8.91)
('Margaret', 'Park', 250, '2012-01-01 00:00:00', 13.86)
('Margaret', 'Park', 251, '2012-01-09 00:00:00', 0.99)
('Steve', 'Johnson', 252, '2012-01-22 00:00:00', 1.98)
('Margaret', 'Park', 253, '2012-01-22 00:00:00', 1.98)
('Jane', 'Peacock', 254, '2012-01-23 00:00:00', 3.96)
('Jane', 'Peacock', 255, '2012-01-24 00:00:00', 5.94)
('Steve', 'Johnson', 256, '2012-01-27 00:00:00', 8.91)
('Margaret', 'Park', 257, '2012-02-01 00:00:00', 13.86)
('Steve', 'Johnson', 258, '2012-02-09 00:00:00', 0.99)
('Margaret', 'Park', 259, '2012-02-22 00:00:00', 1.98)
('Steve', 'Johnson', 260, '2012-02-22 00:00:00', 1.98)
('Jane', 'Peacock', 261, '2012-02-23 00:00:00', 3.96)
('Steve', 'Johnson', 262, '2012-02-24 00:00:00', 5.94)
('Margaret', 'Park', 263, '2012-02-27 00:00:00', 8.91)
('Margaret', 'Park', 264, '2012-03-03 00:00:00', 13.86)
('Margaret', 'Park', 265, '2012-03-11 00:00:00', 0.99)
('Steve', 'Johnson', 266, '2012-03-24 00:00:00', 1.98)
('Jane', 'Peacock', 267, '2012-03-24 00:00:00', 1.98)
('Margaret', 'Park', 268, '2012-03-25 00:00:00', 3.96)
('Steve', 'Johnson', 269, '2012-03-26 00:00:00', 5.94)
('Jane', 'Peacock', 270, '2012-03-29 00:00:00', 8.91)
('Steve', 'Johnson', 271, '2012-04-03 00:00:00', 13.86)
('Steve', 'Johnson', 272, '2012-04-11 00:00:00', 0.99)
('Steve', 'Johnson', 273, '2012-04-24 00:00:00', 1.98)
('Margaret', 'Park', 274, '2012-04-24 00:00:00', 1.98)
('Steve', 'Johnson', 275, '2012-04-25 00:00:00', 3.96)
('Jane', 'Peacock', 276, '2012-04-26 00:00:00', 5.94)
('Steve', 'Johnson', 277, '2012-04-29 00:00:00', 8.91)
('Jane', 'Peacock', 278, '2012-05-04 00:00:00', 13.86)
('Jane', 'Peacock', 279, '2012-05-12 00:00:00', 0.99)
('Jane', 'Peacock', 280, '2012-05-25 00:00:00', 1.98)
('Steve', 'Johnson', 281, '2012-05-25 00:00:00', 1.98)
('Margaret', 'Park', 282, '2012-05-26 00:00:00', 3.96)
('Jane', 'Peacock', 283, '2012-05-27 00:00:00', 5.94)
('Jane', 'Peacock', 284, '2012-05-30 00:00:00', 8.91)
('Margaret', 'Park', 285, '2012-06-04 00:00:00', 13.86)
('Margaret', 'Park', 286, '2012-06-12 00:00:00', 0.99)
('Jane', 'Peacock', 287, '2012-06-25 00:00:00', 1.98)
('Margaret', 'Park', 288, '2012-06-25 00:00:00', 1.98)
('Steve', 'Johnson', 289, '2012-06-26 00:00:00', 3.96)
('Margaret', 'Park', 290, '2012-06-27 00:00:00', 5.94)
('Jane', 'Peacock', 291, '2012-06-30 00:00:00', 8.91)
('Steve', 'Johnson', 292, '2012-07-05 00:00:00', 13.86)
('Steve', 'Johnson', 293, '2012-07-13 00:00:00', 0.99)
('Jane', 'Peacock', 294, '2012-07-26 00:00:00', 1.98)
('Margaret', 'Park', 295, '2012-07-26 00:00:00', 1.98)
('Steve', 'Johnson', 296, '2012-07-27 00:00:00', 3.96)
('Steve', 'Johnson', 297, '2012-07-28 00:00:00', 5.94)
('Steve', 'Johnson', 298, '2012-07-31 00:00:00', 10.91)
('Margaret', 'Park', 299, '2012-08-05 00:00:00', 23.86)
('Margaret', 'Park', 300, '2012-08-13 00:00:00', 0.99)
('Steve', 'Johnson', 301, '2012-08-26 00:00:00', 1.98)
('Jane', 'Peacock', 302, '2012-08-26 00:00:00', 1.98)
('Jane', 'Peacock', 303, '2012-08-27 00:00:00', 3.96)
('Margaret', 'Park', 304, '2012-08-28 00:00:00', 5.94)
('Margaret', 'Park', 305, '2012-08-31 00:00:00', 8.91)
('Margaret', 'Park', 306, '2012-09-05 00:00:00', 16.86)
('Jane', 'Peacock', 307, '2012-09-13 00:00:00', 1.99)
('Margaret', 'Park', 308, '2012-09-26 00:00:00', 3.98)
('Margaret', 'Park', 309, '2012-09-26 00:00:00', 3.98)
('Jane', 'Peacock', 310, '2012-09-27 00:00:00', 7.96)
('Steve', 'Johnson', 311, '2012-09-28 00:00:00', 11.94)
('Margaret', 'Park', 312, '2012-10-01 00:00:00', 10.91)
('Jane', 'Peacock', 313, '2012-10-06 00:00:00', 16.86)
('Steve', 'Johnson', 314, '2012-10-14 00:00:00', 0.99)
('Jane', 'Peacock', 315, '2012-10-27 00:00:00', 1.98)
('Jane', 'Peacock', 316, '2012-10-27 00:00:00', 1.98)
('Jane', 'Peacock', 317, '2012-10-28 00:00:00', 3.96)
('Steve', 'Johnson', 318, '2012-10-29 00:00:00', 5.94)
('Margaret', 'Park', 319, '2012-11-01 00:00:00', 8.91)
('Margaret', 'Park', 320, '2012-11-06 00:00:00', 13.86)
('Steve', 'Johnson', 321, '2012-11-14 00:00:00', 0.99)
('Jane', 'Peacock', 322, '2012-11-27 00:00:00', 1.98)
('Margaret', 'Park', 323, '2012-11-27 00:00:00', 1.98)
('Steve', 'Johnson', 324, '2012-11-28 00:00:00', 3.96)
('Jane', 'Peacock', 325, '2012-11-29 00:00:00', 5.94)
('Steve', 'Johnson', 326, '2012-12-02 00:00:00', 8.91)
('Jane', 'Peacock', 327, '2012-12-07 00:00:00', 13.86)
('Jane', 'Peacock', 328, '2012-12-15 00:00:00', 0.99)
('Margaret', 'Park', 329, '2012-12-28 00:00:00', 1.98)
('Jane', 'Peacock', 330, '2012-12-28 00:00:00', 1.98)
('Margaret', 'Park', 331, '2012-12-29 00:00:00', 3.96)
('Jane', 'Peacock', 332, '2012-12-30 00:00:00', 5.94)
('Jane', 'Peacock', 333, '2013-01-02 00:00:00', 8.91)
('Margaret', 'Park', 334, '2013-01-07 00:00:00', 13.86)
('Jane', 'Peacock', 335, '2013-01-15 00:00:00', 0.99)
('Steve', 'Johnson', 336, '2013-01-28 00:00:00', 1.98)
('Margaret', 'Park', 337, '2013-01-28 00:00:00', 1.98)
('Jane', 'Peacock', 338, '2013-01-29 00:00:00', 3.96)
('Jane', 'Peacock', 339, '2013-01-30 00:00:00', 5.94)
('Margaret', 'Park', 340, '2013-02-02 00:00:00', 8.91)
('Jane', 'Peacock', 341, '2013-02-07 00:00:00', 13.86)
('Margaret', 'Park', 342, '2013-02-15 00:00:00', 0.99)
('Jane', 'Peacock', 343, '2013-02-28 00:00:00', 1.98)
('Margaret', 'Park', 344, '2013-02-28 00:00:00', 1.98)
('Jane', 'Peacock', 345, '2013-03-01 00:00:00', 3.96)
('Steve', 'Johnson', 346, '2013-03-02 00:00:00', 5.94)
('Steve', 'Johnson', 347, '2013-03-05 00:00:00', 8.91)
('Margaret', 'Park', 348, '2013-03-10 00:00:00', 13.86)
('Steve', 'Johnson', 349, '2013-03-18 00:00:00', 0.99)
('Jane', 'Peacock', 350, '2013-03-31 00:00:00', 1.98)
('Steve', 'Johnson', 351, '2013-03-31 00:00:00', 1.98)
('Margaret', 'Park', 352, '2013-04-01 00:00:00', 3.96)
('Margaret', 'Park', 353, '2013-04-02 00:00:00', 5.94)
('Margaret', 'Park', 354, '2013-04-05 00:00:00', 8.91)
('Margaret', 'Park', 355, '2013-04-10 00:00:00', 13.86)
('Margaret', 'Park', 356, '2013-04-18 00:00:00', 0.99)
('Steve', 'Johnson', 357, '2013-05-01 00:00:00', 1.98)
('Jane', 'Peacock', 358, '2013-05-01 00:00:00', 1.98)
('Steve', 'Johnson', 359, '2013-05-02 00:00:00', 3.96)
('Jane', 'Peacock', 360, '2013-05-03 00:00:00', 5.94)
('Margaret', 'Park', 361, '2013-05-06 00:00:00', 8.91)
('Steve', 'Johnson', 362, '2013-05-11 00:00:00', 13.86)
('Steve', 'Johnson', 363, '2013-05-19 00:00:00', 0.99)
('Jane', 'Peacock', 364, '2013-06-01 00:00:00', 1.98)
('Steve', 'Johnson', 365, '2013-06-01 00:00:00', 1.98)
('Jane', 'Peacock', 366, '2013-06-02 00:00:00', 3.96)

6. **Écrivez une requête SQL permettant d'afficher la somme totale des ventes de chaque vendeur** (Indice : GROUP BY)

In [30]:
curseur.execute("""
                SELECT Employee.FirstName,Employee.LastName,SUM(Total)
                from Customer
                JOIN Invoice ON Customer.CustomerId = Invoice.CustomerId
                JOIN Employee ON Customer.SupportRepId = Employee.EmployeeId
                GROUP BY Employee.EmployeeId                
""")
for ligne in  curseur.fetchall() :
    print(ligne,end="\n")

('Jane', 'Peacock', 833.0400000000016)
('Margaret', 'Park', 775.4000000000005)
('Steve', 'Johnson', 720.1600000000011)

7. **Écrivez une requête SQL permettant d'afficher la somme totale des ventes de chaque vendeur en 2009** (Indice : GROUP BY)

In [72]:
curseur.execute("""
                SELECT Employee.FirstName,Employee.LastName,SUM(Total)
                from Customer
                JOIN Invoice ON Customer.CustomerId = Invoice.CustomerId
                JOIN Employee ON Customer.SupportRepId = Employee.EmployeeId
            
                WHERE InvoiceDate BETWEEN "2009-01-01 00:00:00" AND "2009-12-31 23:59:59"
                GROUP BY Employee.EmployeeId
                
                               
""")
for ligne in  curseur.fetchall() :
    print(ligne,end="\n")

('Jane', 'Peacock', 123.74999999999997)
('Margaret', 'Park', 161.36999999999995)
('Steve', 'Johnson', 164.33999999999997)

8. **Écrivez une requête SQL permettant d'afficher le total de chanson qui sont du Metal**

In [121]:
curseur.execute("""
                SELECT Genre.Name,COUNT(Genre.Name) from Track 
                JOIN Genre ON Genre.GenreID = Track.GenreID
                WHERE Genre.Name= "Metal"
                GROUP BY Genre.Name
                
                ;
""" )
for ligne in  curseur.fetchall() :
    print(ligne,end="\n")

('Metal', 374)

9. **Écrivez une requête SQL permettant de connaitre le nombre de chansons dans chaque playlist**

In [122]:
curseur.execute("""
                SELECT Playlist.Name,COUNT(PlaylistTrack.PlaylistId) From Playlist
                JOIN PlaylistTrack ON PlaylistTrack.PlaylistId = Playlist.PlaylistId 
                GROUP BY Playlist.Name
                ;
""" )
for ligne in  curseur.fetchall() :
    print(ligne,end="\n")

('90’s Music', 1477)
('Brazilian Music', 39)
('Classical', 75)
('Classical 101 - Deep Cuts', 25)
('Classical 101 - Next Steps', 25)
('Classical 101 - The Basics', 25)
('Grunge', 15)
('Heavy Metal Classic', 26)
('Music', 6580)
('Music Videos', 1)
('On-The-Go 1', 1)
('TV Shows', 426)